<form>

    <div class="text">My Projects(20)
        <div class="dropdown">

            <select name="AllPlatform" id="AllPlatform">
                <option value="All Platform">All Platform</option>
                <option value="Manual">Manual</option>
            </select>




            <div class="button"><a href ="create.componenet.html" > </a><button class="button">Create Project</button>

                <div class="search">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="Search" name="search">
                </div>
            </div>
        </div>
    </div>

</form>




