.topNav{
    display: block;
}
.projHeadingBg{
    margin-right:-8px;
    background-color: white;
    margin-top: -8px;
    height: 60px;
}
.projHeading{
    padding-top: 12px;
    font: normal normal 600 23px Segoe UI, sans-serif;
    margin-left: 100px;
}
.text {
    margin-top: 20px;
    text-indent: 70px;
}
.projectsCount{
    font: normal normal 500 20px Segoe UI, sans-serif;
    margin-left: 30px;
}
.align-items{
    float: right;
    margin-right: 50px;
}
.select-plotform{
    margin-right: 20px;
    width: 160px;
    height: 32px;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 2px;
}
.search-style{
    width: 250px;
    height: 28px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 2px;
}
#filterSubmit {
    position: relative;
    z-index: 1;
    left: -95px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    font-size: 16px;
}

.createButton{
    margin-left: 20px;
    width: 150px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2px;
}
.createButton:hover{
    cursor: pointer;
}


