<div class="topNav">
    <div class="projHeadingBg">
        <header class="projHeading">Projects</header>
    </div>
    <div style="width: 100%; height:50px">
        <div class="text">
            <label class="projectsCount"> My Projects ({{totalProjects}}) </label>
            <div class="align-items">
                <select class="select-plotform" name="jump1" size="1">
                    <option value="" selected>All Platform</option>
                    <option value="manual">Manual</option>
                </select>
                    <input class="search-style" type="text" placeholder="Search" name="search">
                    <img id="filterSubmit" class="searchImg" [src] ="srarchImagePath" alt="search Image" />
                <button class="createButton" (click)="openModal()">Create Project</button>
            </div>
        </div>
    </div>
</div>