.topNav {
  display: block;
}
.projHeadingBg {
  margin-right: -8px;
  background-color: #ffffff;
  margin-top: -8px;
  height: 64px;
}
.projHeading {
  padding-top: 16px;
  font: normal normal 700 20px Lato, sans-serif;
  margin-left: 100px;
  color: #000000;
}
.text {
  margin-top: 20px;
  text-indent: 70px;
}
.projectsCount {
  font: normal normal 700 16px Lato, sans-serif;
  margin-left: 30px;
  color: #232324;
}
.align-items {
  float: right;
  margin-right: 45px;
}
.select-plotform {
  margin-right: 20px;
  width: 148px;
  height: 32px;
  border: 1px solid grey;
  border-radius: 2px;
  color: #525156;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  cursor: pointer;
}
.search-style {
  width: 236px;
  height: 28px;
  border: 1px solid grey;
  border-radius: 2px;
  padding-left: 12px;
  color: #b1b0bc;
  font: normal normal 400 14px Lato, sans-serif;
  padding-right: 30px;
}
.searchImg {
  width: 16px;
}
#filterSubmit {
  position: relative;
  left: -25px;
  top: 2px;
  cursor: pointer;
}
.createButton {
  width: 120px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
