<div class="releaseHome">
    <div class="releaseHeader">
        <div class="releaseTopData">
            <p class="releaseHeading">Project / Applications / Release</p>
            <div class="releaseTopAlign">
                <div class="releaseIconBg">
                    <img class="releaseImg" [src] ="releaseImgPath" alt="Release Image" /> 
                </div>
                <p class="releaseImgLabel">Release</p>
                <button class="createReleaseBtn">Create Release</button>
            </div>
        </div>
    </div>
    <div class="releaseData">
        <div class="releaseDataAlign">
            <label class="releaseHead">Release</label>
            <select class="projectsDropdown" >
                <option value= "All Projects">All Projects</option>
                <option value= "Kraft Heinz Project">Kraft Heinz Project</option>
                <option value= "TestXpress Project">TestXpress Project</option>
                <option value= "Whirlpool Project">Whirlpool Project</option>
                <option value= "Web List Operations">Web List Operations</option>
            </select>
            <select class="applicationsDropdown">
                <option value= "All Applications">All Applications</option>
                <option value= "TestXpress">TestXpress</option>
                <option value= "Prodigio (iOS)">Prodigio (iOS)</option>
                <option value= "WTAF">WTAF</option>
                <option value= "SEP">SEP</option>
            </select>
        </div>

        <div class="release-card-data">
            <table class="release-table">
                <tr>
                    <th style="width: 88px;">
                        <p class="table-header"> Number </p> 
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 226px;">
                        <p class="table-header"> Name </p>
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 204px;">
                        <p class="table-header"> Project Name </p>
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 386px;">Description</th>
                    <th style="width: 112px;">
                        <p class="table-header"> Start Date </p>
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 112px;">
                        <p class="table-header"> End Date </p>
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 112px;">
                        <p class="table-header"> Status </p>
                        <img class="sortImg" [src] ="sortByImg" alt="Sort by Image" />
                    </th>
                    <th style="width: 80px;">Action</th>
                </tr>
                <tr>
                    <td style="width: 88px;">1015</td>
                    <td style="width: 226px;">LogReleaseAlpha</td>
                    <td style="width: 204px;">TestXpress</td>
                    <td style="width: 386px;">Relased as per requirement</td>
                    <td style="width: 112px;">02/05/2022</td>
                    <td style="width: 112px;">20/05/2022</td>
                    <td style="width: 112px; color: #C41D7F;">Completed</td>
                    <td style="width: 80px;">
                        <img class="eyeImg" [src] ="eyeImg" alt="Eye Image" />
                        <img class="editImg" [src] ="editImg" alt="Edit Image" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 88px;">1016</td>
                    <td style="width: 226px;">Meta Taging</td>
                    <td style="width: 204px;">TestXpress</td>
                    <td style="width: 386px;">Relased as per requirement</td>
                    <td style="width: 112px;">20/04/2022</td>
                    <td style="width: 112px;">30/04/2022</td>
                    <td style="width: 112px; color: #C41D7F;">Completed</td>
                    <td style="width: 80px;">
                        <img class="eyeImg" [src] ="eyeImg" alt="Eye Image" />
                        <img class="editImg" [src] ="editImg" alt="Edit Image" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 88px;">1019</td>
                    <td style="width: 226px;">Upholding Cards</td>
                    <td style="width: 204px;">TestXpress</td>
                    <td style="width: 386px;">Relased as per requirement</td>
                    <td style="width: 112px;">20/04/2022</td>
                    <td style="width: 112px;">30/04/2022</td>
                    <td style="width: 112px; color: #15B982;">Accepted</td>
                    <td style="width: 80px;">
                        <img class="eyeImg" [src] ="eyeImg" alt="Eye Image" />
                        <img class="editImg" [src] ="editImg" alt="Edit Image" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
