<div class="bg-modal">
	<div class="modal-contents">

		<div class="close"></div>
		<img src="https://richardmiddleton.me/comic-100.png" alt="">

		<form action=example-server.com>
                   <fieldset>
                      <legend>Create a new project</legend>
                      <div class="form-control data-error-sorry, that name is taken.">
		      <label for="project name">Project Name</label>
		      <input type="Project Name" id="name" placeholder="Web List Operations" required maxlength="25" minlength="1"/>
                       </div>

                        <div class = "control">
                        <label for ="Description">Description</label>
                        <input
                         type="Description"
                         id="Description"
                         placeholder="Action to automate HTML"
                         required maxlength="150" minlength="1"/>
                         </div>
			<button type="cancel" onclick="javascript:window.close()">
                        <a href="#" class="button">Cancel</a>
                        <button type="button" onclick="window.open()">
			<a href="#" class="button">Create</a>
                
			

		

	

<!-- partial -->
  <script  src="./script.js"></script>

