<section class="home">
    <div class="grid-container">
        <div class="grid-item">


            <div>
                <h6>Kraft Heinz Project</h6>
                <span>The Kraft Heinz Company</span>

                <div class="header">

                    <!-- three dot menu -->
                    <div class="dropdown">
                        <!-- three dots -->
                        <ul class="dropbtn icons btn-right showRight" onclick="showDropdown()">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- menu -->
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#home">Edit</a>
                            <a href="#about">Duplicate</a>
                            <a href="#contact">Delete</a>
                        </div>
                    </div>

                </div>
            </div>




            <br>
            <div class="avatar-group">
                <div class="avatar">
                    <span class="avatar-name">Someone 1</span>
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 2</span>
                    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 3</span>
                    <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 4</span>
                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 5</span>
                    <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
            </div>
        
        </div>
        <div class="grid-item">
            <div>
                <h6>TestXpress Project</h6>
                <span>Test Automation Framework</span>
            </div>
            <div class="avatar-group">
                <div class="avatar">
                    <span class="avatar-name">Someone 1</span>
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 2</span>
                    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 3</span>
                    <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 4</span>
                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 5</span>
                    <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div>
                <h6>Whrilpool Project</h6>
                <span>Test Automation Framework</span>
            </div>
            <div class="avatar-group">
                <div class="avatar">
                    <span class="avatar-name">Someone 1</span>
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 2</span>
                    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 3</span>
                    <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 4</span>
                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 5</span>
                    <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div>
                <h6>Amir Peleg</h6>
                <span>Strings utility actions</span>

            </div>

            <div class="avatar-group">
                <div class="avatar">
                    <span class="avatar-name">Someone 1</span>
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 2</span>
                    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 3</span>
                    <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 4</span>
                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
                <div class="avatar">
                    <span class="avatar-name">Someone 5</span>
                    <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>