<div class="topNav">
    <div class="projHeadingBg">
        <header class="projHeading">Projects</header>
    </div>
    <div style="width: 100%; height:50px">
        <div class="projectFunctioningItems">
            <label class="projectsCount"> My Projects ({{uiData.length}}) </label>
            <div class="alignFunctionalItems">
                <select class="select-plotform" name="jump1" size="1">
                    <option value="" selected>All Platform</option>
                    <option value="manual">Manual</option>
                </select>
                    <input class="search-style" type="text" placeholder="Search" name="search" (change)="searchString($event)" #searchField >
                    <img id="filterSubmit" class="searchImg" [src] ="srarchImagePath" alt="search Image" (click)="searchData()" />
                <button class="createButton" (click)="openModal()">Create Project</button>
            </div>
        </div>
    </div>
</div>

<!-- *ngIf="searchFlag" -->

<section class="card-home">
    <div class="grid-container" *ngIf="searchFlag">
        <div *ngFor="let teProjectsData of uiData">
            <div class="grid-item" >
                <div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer" />
                    <div class="dots">
                        <img class="moreImg" [src] ="moreImgPath" alt="more Image" (click)="openTaskMenu(teProjectsData.projectid)" />
                        <div class="task-menu" *ngIf="teProjectsData.projectid == taskMenuId || taskMenuFlag">
                            <p class="menuItems menuEdit" (click)="editModal(teProjectsData.projectid)">Edit</p>
                            <p class="menuItems menuDuplicate" (click)="duplicateModal(teProjectsData.projectid)">Duplicate</p>
                            <p class="menuItems menuDelete" (click)="deleteModal(teProjectsData.projectid)">Delete</p>
                        </div>
                    </div>
                    <div class="existingData">
                        <label class="projectHeading">{{ teProjectsData.projectName }}</label>
                        <textarea type="text" name="projectDescription" class="textareaStylesCard"
                        ngModel="{{ teProjectsData.projectDescription }}" disabled> </textarea>
                    </div>
                </div>

                <div class="girdFooter">
                    <div class="icon-bar">
                        <a href="#"><img class="webImg footerImg" [src] ="webImgPath" alt="web Image" /></a>
                        <a href="#"><img class="appleImg footerImg" [src] ="appleImgPath" alt="apple Image" /></a>
                        <a href="#"><img class="androidImg footerImg" [src] ="andriodImagePath" alt="Android Image" /></a>
                        <a href="#"><img class="desktopGreyImg footerImg" [src] ="desktopGreyImgPath" alt="desktopGrey Image" /></a>
                        <div class="projDetails">
                            <label class="projDetails">5 Test Suites 9 Apps</label>
                        </div>
                    </div>

                    <div class="avatar-group">
                        <div class="avatar">
                            <span class="avatar-name">Someone 1</span>
                            <img class="avatarImg1" [src] ="avatarImg1Path" alt="avatar1 Image" />
                        </div>
                        <div class="avatar">
                            <span class="avatar-name">Someone 2</span>
                            <img class="avatarImg2" [src] ="avatarImg2Path" alt="avatar2 Image" />                            
                        </div>
                        <div class="avatar">
                            <span class="avatar-name">Someone 5</span>
                            <img class="textImg" [src] ="textImgPath" alt="text Image" (click)="membersModal(teProjectsData.projectid)" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit popup start -->
            <div class="editModal" *ngIf="teProjectsData.projectid === editId && editFlag">
                <div class="edit-modal-contents">
            
                    <div class="close">
                        <img class="closeEdit" [src] ="closeImagePath" alt="close Image"  (click)="closeModal()" />
                    </div>
                    <form #updateProjectForm="ngForm" (submit)="updateExistingProject(updateProjectForm, teProjectsData.projectid)">
                            <label class="projectHeading">Edit {{ teProjectsData.projectName }}</label>
                            <hr class="hrStyle">
                            <div class="form-control">
                                <label class="popupProjectDetails">Project Name</label>
                                <label *ngIf="uname.errors?.['minlength'] || (updateProjectForm.controls['projectName']?.touched && updateProjectForm.controls['projectName']?.invalid)" class="errorMessage">
                                    Project Name must be at least 1 character long.
                                </label>
                                <label *ngIf="uname.errors?.['maxlength']" class="errorMessage">
                                    Project Name maximum of 25 characters only.
                                </label>
                                <input class="inputStyles" id="name" type="text" name="projectName" #uname="ngModel"
                                 required ngModel="{{ teProjectsData.projectName }}" maxlength="25" minlength="1" />
                            </div>
                            <div class="control">
                                <label class="popupProjectDetails">Description</label><br />
                                <textarea type="text" name="projectDescription" class="textareaStyles" id="Description" 
                                 ngModel="{{ teProjectsData.projectDescription }}" maxlength="150" minlength="1"> </textarea>
                            </div>
                            <hr class="hrStyle">
                            <button class="btnCreate" [disabled]="!updateProjectForm.valid">Save</button>
                    </form>
                    <button class="btnClose" (click)="closeModal()">Cancel</button>
                </div>
            </div>
            <!-- Edit popup End -->

            <!-- Duplicate popup Start -->
            <div class="duplicateModal" *ngIf="teProjectsData.projectid === editId && duplicateFlag">
                <div class="duplicate-modal-contents">
            
                    <div class="close">
                        <img class="closeEdit" [src] ="closeImagePath" alt="close Image"  (click)="closeModal()" />
                    </div>
                    <form #duplicateProjectForm="ngForm" (submit)="duplicateProject(duplicateProjectForm, teProjectsData.projectid)">
                            <label class="projectHeading">Duplicate Project</label>
                            <hr class="hrStyle">
                            <div class="form-control">
                                <label class="popupProjectDetails">Project Name</label>
                                <label *ngIf="uname.errors?.['minlength'] || (duplicateProjectForm.controls['projectName']?.touched && duplicateProjectForm.controls['projectName']?.invalid)" class="errorMessage">
                                    Project Name must be at least 1 character long.
                                </label>
                                <label *ngIf="uname.errors?.['maxlength']" class="errorMessage">
                                    Project Name maximum of 25 characters only.
                                </label>
                                <input class="inputStyles" id="name" type="text" name="projectName" #uname="ngModel"
                                required ngModel="{{ teProjectsData.projectName }}_copy" maxlength="25" minlength="1" />
                            </div>
                            <div class="control">
                                <label class="popupProjectDetails">Description</label><br />
                                <textarea type="text" name="projectDescription" class="textareaStyles" id="Description" 
                                ngModel="{{ teProjectsData.projectDescription }}" maxlength="150" minlength="1"> </textarea>
                            </div>
                            <hr class="hrStyle">
                            <button class="btnDuplicate" [disabled]="!duplicateProjectForm.valid">Duplicate</button>
                    </form>
                    <button class="btnClose" (click)="closeModal()">Cancel</button>
                </div>
            </div>
            <!-- Duplicate popup End-->

            <!-- Delete popup Start -->
            <div class="deleteModal" *ngIf="teProjectsData.projectid === editId && deleteFlag">
                <div class="delete-modal-contents">
                    <label class="deleteProjectHeading">
                        <p class="deleteIconAlign">
                            <img [src] ="deleteRedImagePath" alt="close Image" class="deleteIcon"/>
                        </p>                        
                        Do you Want to delete these items?
                    </label>
                    <div>
                        <p class="deleteInfo">Your datas within this item will be deleted and <br /> cannot be recovered.</p>
                    </div>
                    
                    <button class="btnDelete" (click)="deleteExistingProject(teProjectsData.projectid)">OK</button>
                    <button class="btnClose" (click)="closeModal()">Cancel</button>
                </div>
            </div>
            <!-- Delete popup End -->

            <!-- Manage members popup start -->
            <div class="membersModal" *ngIf="teProjectsData.projectid === membersId && membersFlag">
                <div class="members-modal-contents">
            
                    <div class="close">
                        <img [src] ="closeImagePath" alt="close Image" class="members-close" (click)="closeModal()" />
                    </div>
                    <form #updateProjectForm="ngForm" (submit)="manageMembers(updateProjectForm, teProjectsData.projectid)">
                            <label class="membersProjectHeading"><strong>Manage Member</strong></label>
                            <hr class="hrStyle">
                            <div class="form-control">
                                <label class="manageMembersDetails">Email <span style="color: #F5222D;">*</span></label><br>

                                 <div class="members-inputStyles">
                                     <button class="members-mail"> Jerome Bell <img [src] ="closeImagePath" alt="close Image" class="button-close"/></button>
                                     <button class="members-mail"> Kathryn Murphy <img [src] ="closeImagePath" alt="close Image" class="button-close"/></button>
                                 </div>

                                 <button class="membersSend" [disabled]="!updateProjectForm.valid">Send Invite</button>
                                 
                            </div><br>
                            <div class="control">
                                <label class="members-content">Manage Member</label><br />
                                <div *ngFor="let manageMembers of manageMembersData">
                                    <div class="members-group" *ngIf="!manageMembers.memberIsDeleted">
                                        <img class="members" src={{manageMembers.memberImg}} alt="Image" />
                                        <label class="members-font">{{manageMembers.memberName}}</label>
                                        <label class="members-email">{{manageMembers.memberEmail}}</label>
                                        <label class="members-email">{{manageMembers.memberRole}}</label>
                                        <img [src] ="deleteImagePath" alt="delete Image" class="members-deleteIcon" (click)="deleteManageMembersData(manageMembers.memberId)" />
                                    </div>
                                    <hr *ngIf="!manageMembers.memberIsDeleted && manageMembers.memberId != manageMembersLastId" />
                                </div>
            
                            </div>
                            
                    </form>
                </div>
            </div>
            <!-- Manage members popup End -->

        </div>
    </div>

    <!-- *ngIf="!searchFlag" -->
    <div class="dataNotFound" *ngIf="!searchFlag">
        <p>Sorry, your search data <span style="color: #3E38D5;">{{searchdValueDisplay}} </span> was not found.</p>
    </div>
    
</section>