.card-home {
  display: block;
}
.grid-container{
  display: grid;
  gap: 24px 24px;
  grid-template-columns: 423px 423px 423px;
  margin-top: 16px;
  margin-left: 80px;
}
.grid-item{
  height: 139px;
}

/* start: Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end: Global */

.icon-bar a {
  float: left;
  transition: all 0.3s ease;
  color: #555;
  font-size: 36px;
  margin-top: 7px;
  margin-left: 4px;
}
.webImg {
  margin-left: 10px;
}
.footerImg {
  width: 24px;
  height: 24px;
}
.projDetails {
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 8px;
  padding-top: 18px;
  color: #232324;
}

/* start: Avatar */

.avatar-group {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-right: 16px;
}
.avatar {
  position: relative;
  transition: 0.2s;
}
.avatar:not(:first-child) {
  margin-left: -0.7rem;
}
.avatar:hover {
  z-index: 1;
  transform: translateY(-0.5rem);
}
.avatar-name {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.avatar-name::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}
.avatar:hover .avatar-name {
  opacity: 1;
  visibility: visible;
}
.avatar img {
  width: 24px;
  height: 24px;
  display: block;
  object-fit: cover;
}
.textImg:hover {
  cursor: pointer;
}
/*end avatar*/

.projectHeading,
.editprojectHeading,
.duplicateprojectHeading,
.deleteProjectHeading,
.membersProjectHeading {
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
}
.projectHeading{
  padding-top: 16px;
  margin-left: 16px;
}
.editprojectHeading,
.duplicateprojectHeading,
.membersProjectHeading{
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 16px;
}
.deleteProjectHeading{
  padding-top: 4px;
}
.deleteProjectHeadingAlign{
  margin-top: 24px;
  margin-left: 24px;
}
.project-card-data{
  width: 424px;
  height: 82px;
}
.girdFooter {
  background-color: #F6F6F9;
  width: 424px;
  height: 56px;
  border: 1px solid #DDDDE6;
  margin-left: -1px;
}
.inputStyles {
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  margin-bottom: 10px;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;

  margin-left: 24px;
  box-sizing: border-box;
}
.textareaStyles {
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  padding-top: 7px;
  border-radius: 2px;
  resize: none;
  color: #525156;

  margin-left: 24px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 26px;

}

/* Edit, Duplicate and Delete popup start */

.editModal,
.duplicateModal,
.deleteModal,
.membersModal {
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.edit-modal-contents,
.duplicate-modal-contents {
  width: 522px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}
.hrStyle {
  margin-bottom: 10px;
}
.popupProjectDetails {
  font: normal normal 400 14px Lato, sans-serif;
  margin-bottom: 5px;
  color: #232324;
  margin-left: 24px;
  margin-top: 10px;
}
.textareaStylesCard {
  margin-left: 16px;
  margin-top: 4px;
  width: 93%;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  border: none;
  resize: none;
  background-color: white;
  scroll-behavior: smooth;
  color: #818089;
}
.btnCreate {
  float: right;
  margin-left: 10px;
  width: 61px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;

}
.btnDuplicate {
  float: right;
  margin-left: 10px;
  width: 91px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  align-items: center;

  margin-right: 16px;
  margin-bottom: 10px;
}
.btnDelete {
  width: 53px;
}

/* Edit, Duplicate and Delete popup end */
