* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 56px;
  background: rgb(42, 42, 42);
  transition: var(--tran-05);
  z-index: 100;
  display: flex;
  justify-content: center;
}
.sidebar li {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.fa {
  color: grey;
  font-size: 20px;
  margin-top: -10px;
}
.logo {
  margin-top: -5px;
  margin-bottom: 40px;
}
.tsImg {
  width: 40px;
}
.icon-background {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.icon-background:hover {
  background-color: rgb(95, 93, 93);
}
.fa:hover {
  color: white;
}
.folderBg {
  background-color: rgb(95, 93, 93);
}
.folderIcon {
  color: white;
}
.appImg {
  width: 27px;
  margin-top: -10px;
  background-color: gray;
}
.appImg:hover {
  background-color: white;
}
