<nav class="sidebar close">



    <div class="container">
        <div class="icon-bar">
            <a class="active" href="#"><i class="bx bx-pie-chart-alt icon"></i></a>
            <a href="#"><i class="fa fa-folder-open-o"></i></a>
            <a href="#"><i class="fa fa-play-circle"></i></a>
            <a href="#"><i class="fa fa-file-text-o"></i></a>
            <a href="#"><i class="material-icons">settings</i></a>

            <a href="#"><i class="bx bx-bell icon"></i></a>



        </div>





    </div>

</nav>