
<div class="sidebar">
    <div class=" logo_content">
        <div class="logo">
            <h3 class="logo-name">
                
            </h3>
        </div>
    </div>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
    <ul class="nav">
        <div class="icon-background">
            <li> 
                <a href="#">
                <i class="fa fa-pie-chart"></i>
                </a>
            </li>
        </div>

        <div class="icon-background folderBg" (click)="projectsModal()">
            <li> 
                <i class='fa fa-folder-open-o folderIcon'></i>
            </li>
        </div>

        <div class="icon-background windowsBg" (click)="applicationsModal()">
            <li> 
                <i class=" fa fa-brands fa-windows windowsIcon"></i>
            </li>
        </div>

        <div class="icon-background rocketBg">
            <li> 
                <i class="fa fa-rocket rocketIcon"></i>
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <a href="#">
                    <i class="fa fa-light fa-file-lines"></i>
                    <!-- <i class="fa fa-thin fa-square-poll-horizontal"></i> -->
                </a>
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <a href="#">
                <i class='fa fa-play-circle-o'></i>
                </a>
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <a href="#">
                <i class='fa fa-file-text-o'></i>
                </a>
            </li>
        </div>
        <hr style="color: rgb(65, 63, 63); margin-bottom: 30px; margin-top: 30px;">

        <div class="icon-background">
            <li> 
                <a href="#">
                <i class='fa fa-solid fa-gear'></i>
                </a>
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <a href="#">
                <i class='fa fa-solid fa-bell'></i>
                </a>
            </li>
        </div>
    </ul>
    

</div>