
<div class="sidebar">
    <div class=" logo_content">
    </div>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
    <ul class="nav">
        <div class="logo">
            <li> 
                <img class="tsImg" [src] ="testXpressImg" alt="testXpress Image" />
            </li>
        </div>

        <div class="icon-background">
            <li>
                <img class="navIcons" [src] ="pieChartImg" alt="pieChart Image" /> 
            </li>
        </div>

        <div class="icon-background folderBg">
            <li> 
                <a routerLink="">
                    <img class="navIcons folderIcon" [src] ="activeFolderImg" alt="activeFolder Image" />
                </a>
            </li>
        </div>

        <div class="icon-background windowsBg">
            <li>
                <a routerLink="applications">
                    <img class="navIcons appImg" [src] ="inactiveAppImg" alt="inactiveApp Image" /> 
                </a>
            </li>
        </div>

        <div class="icon-background rocketBg">
            <li> 
                <a routerLink="release">
                    <img class="navIcons inactiveRocket" [src] ="inactiveRocketImg" alt="inactiveRocket Image" />
                </a>
            </li>
        </div>

        <div class="icon-background">

            <li> 
                <img class="inactiveNotepad" [src] ="inactiveNotepadImg" alt="inactiveNotepad Image" />
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <img class="navIcons" [src] ="inactivePlayImg" alt="inactivePlay Image" />
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <img class="navIcons" [src] ="inactiveFileImg" alt="inactiveFile Image" />
            </li>
        </div>

        <div class="icon-background inactiveLineAlign">
            <li> 
                <img class="inactiveLine" [src] ="inactiveLineImg" alt="inactiveLine Image" />
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <img class="navIcons" [src] ="inactiveGearImg" alt="inactiveGear Image" />
            </li>
        </div>

        <div class="icon-background">
            <li> 
                <img class="navIcons" [src] ="inactiveBellImg" alt="inactiveBell Image" />
            </li>
        </div>

        <div class="footerIcons">
            <div class="icon-background inactiveQuestionAlign">
                <li> 
                    <img class="navIcons inactiveQuestion" [src] ="inactiveQuestionImg" alt="inactiveQuestion Image" />
                </li>
            </div>
            <div class="icon-background inactiveAccountBg">
                <li> 
                    <img class="inactiveAccount" [src] ="iconAccountImg" alt="iconAccount Image" />
                </li>
            </div>
        </div>
    </ul>    

</div>