* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 56px;
  background: #242532;
  transition: var(--tran-05);
  display: flex;
  justify-content: center;
}
.sidebar li {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.logo {
  margin-top: -5px;
  margin-bottom: 40px;
}
.tsImg {
  width: 40px;
  height: 40px;
}
.navIcons{
  width: 24px;
  height: 24px;
  margin-top: -10px;
}
.inactiveNotepad{
  width: 16.5px;
  height: 21px;
  margin-top: -10px;
}
.inactiveRocket{
  width: 22px;
  height: 21px;
  margin-top: -10px;
}
.icon-background {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.folderBg:hover,
.windowsBg:hover{
  cursor: pointer;
}
.folderBg {
  background-color: rgb(95, 93, 93);
}
.footerIcons{
  margin-top: 50px;
}
