<div class="bg-modal">
    <div class="modal-contents">
        <img class="closeModel" [src] ="closeImagePath" alt="close Image"  (click)="closeModal()" />
        <form #createNewProjectForm="ngForm" (submit)="createNewProject(createNewProjectForm)">
                <p class="projectHeading">Create a new Project</p>
                <hr class="hrStyle">
                <div class="form-control">
                    <label class="projectDetails">Project Name<span class="mandatoryField">*</span></label>
                    <input class="inputStyles" id="name" type="text" name="projectName" #uname="ngModel"
                    required ngModel maxlength="25" minlength="1" [(ngModel)]="projectNameValue" (keypress)="projNameData()" (keydown.backspace)="projNameData()"/>
                    <p class="errorMessage" *ngIf="projectNameFlag">
                        Please enter Project Name
                    </p>
                    <p class="errorMessage" *ngIf="existingProjectNameFlag">
                        The project name " {{projectNameValue}} " has already been reported
                    </p>
                </div>
                <div class="control">
                    <label class="projectDescription">Description</label><br />
                    <textarea type="text" name="projectDescription" class="textareaStyles" id="Description"
                    ngModel maxlength="150" minlength="1" > </textarea>
                </div>
                <hr class="hrStyle">
                <button class="btnCreate" name="createBtn">Create</button>
        </form>
        <button class="btnClose" (click)="closeModal()">Cancel</button>
    </div>
</div>
