<div class="bg-modal">
    <div class="modal-contents">
        <img class="closeModel" [src] ="closeImagePath" alt="close Image"  (click)="closeModal()" />
        <form #createNewProjectForm="ngForm" (submit)="createNewProject(createNewProjectForm)">
                <p class="projectHeading">Create a new Project</p>
                <hr class="hrStyle">
                <div class="form-control">
                    <p class="projectDetails"><span class="mandatoryField">*</span> Project Name</p>
                    <input class="inputStyles" id="name" type="text" name="projectName" #uname="ngModel"
                    placeholder="Enter Project Name" required ngModel maxlength="25" minlength="1" />
                    <p *ngIf="uname.errors?.['minlength'] || (createNewProjectForm.controls['projectName']?.touched && createNewProjectForm.controls['projectName']?.invalid)" class="errorMessage">
                        Project Name must be at least 1 character long.
                    </p>
                    <p *ngIf="uname.errors?.['maxlength']" class="errorMessage">
                        Project Name maximum of 25 characters only.
                    </p>
                </div>
                <div class="control">
                    <label class="projectDetails">Description</label><br />
                    <textarea type="text" name="projectDescription" class="textareaStyles" id="Description"
                    placeholder="Enter Project Description" ngModel maxlength="150" minlength="1" > </textarea>
                </div>
                <hr class="hrStyle">
                <button class="btnCreate">Create</button>
        </form>
        <button class="btnClose" (click)="closeModal()">Cancel</button>
    </div>
</div>
