<div class="bg-modal">
    <div class="modal-contents">

        <div class="close">
            <img class="closeModel" [src] ="closeImagePath" alt="close Image"  (click)="closeModal()" />
        </div>
        <form #createNewProjectForm="ngForm" (submit)="createNewProject(createNewProjectForm)">
                <label class="projectHeading"><strong>Create a new Project</strong></label>
                <hr class="hrStyle">
                <div class="form-control">
                    <label class="projectDetails">Project Name</label>
                    <label *ngIf="uname.errors?.['minlength'] || (createNewProjectForm.controls['projectName']?.touched && createNewProjectForm.controls['projectName']?.invalid)" class="errorMessage">
                        Application Name must be at least 1 character long.
                    </label>
                    <label *ngIf="uname.errors?.['maxlength']" class="errorMessage">
                        Application Name maximum of 25 characters only.
                    </label>
                    <input class="inputStyles" id="name" type="text" name="projectName" #uname="ngModel"
                    placeholder="Enter Project Name" required ngModel maxlength="25" minlength="1" />
                </div>
                <div class="control">
                    <label class="projectDetails">Description</label><br />
                    <textarea type="text" name="projectDescription" class="textareaStyles" id="Description" 
                    placeholder="Enter Project Description" ngModel maxlength="150" minlength="1" > </textarea>
                </div>
                <hr class="hrStyle">
                <button class="btnCreate">Create</button>
        </form>
        <button class="btnClose" (click)="closeModal()">Cancel</button>
    </div>
</div>
