@import "../../styles.css";

.bg-modal {
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contents {
  width: 522px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}
.inputStyles {
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  margin-bottom: 5px;
  font: normal normal 400 14px Lato, sans-serif;
  color: #525156;
  margin-left: 24px;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: 15px;
}
.errorMessage{
  margin-left: 24px;
  margin-top: 1px;
}
.closeModel {
  width: 18px;
  float: right;
  margin-top: 16px;
  margin-right: 24px;
}
.closeModel:hover {
  cursor: pointer;
}
.projectHeading {
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 16px;
}
.hrStyle {
  margin-top: 16px;
  margin-bottom: 10px;
}
.projectDetails{
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  margin-left: 24px;
  position: relative;
  top: 10px;
}
.projectDescription{
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  margin-left: 24px;
  position: relative;
  top: 10px;
}
.textareaStyles {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 24px;
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  font: normal normal 400 14px Lato, sans-serif;
  color: #525156;

  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 7px;
}
.btnClose {
  float: right;
  width: 74px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #ffffff;
  color: #525156;
  border: 1px solid #cbcad6;
  border-radius: 2px;
  padding: 5px 16px;
}
.btnCreate {
  float: right;
  margin-left: 10px;
  margin-right: 16px;
  margin-bottom: 10px;
  width: 73px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 5px 16px;
}
.btnCreate:hover {
  cursor: pointer;
}
.btnClose:hover {
  cursor: pointer;
}
/* Cancel creating project start */
.cancelModal{
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.cancelProjectHeading{
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
  padding-top: 4px;
}
.cancelProjectHeadingAlign{
  margin-top: 24px;
  margin-left: 24px;
}
.btnContinue {
  float: right;
  margin-left: 10px;
  width:89px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3E38D5;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  align-items: center;
  margin-right: 24px;
}
.btnExit{
  float: right;
  width: 56px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #ffffff;
  color: #525156;
  border: 1px solid #cbcad6;
  border-radius: 2px;
  padding: 5px 16px;
}
.exclamationIcon,
.cancelIconAlign {
  width: 24px;
  margin-top:0;
  padding:0;
  box-sizing: border-box;
}

/* Cancel creting project end */

/* Creting project Message Start */
.createProjectMsg{
  display:none; 
  background: #EEFFFA;
  width: 354px;
  height: 104px;
  position: absolute;
  right: 0;
  top: 10px;
  border: 1px solid #85E8C6;
  border-radius: 2px;
}

.rightmark{
  width: 24px;
  height: 24px;
  position: absolute;
  left: 24px;
  top: 16px;
}
.msg{
  position: absolute;
  left: 64px;
  top: 16px;
  font: normal normal 400 16px Lato, sans-serif;
  line-height: 24px;
  color: #232324;
}
.msgName{
  font: normal normal 400 14px Lato, sans-serif;
  line-height: 22px;
  color: #525156;
  position: relative;
  position: absolute;
  left: 64px;
  top: 44px;
  width: 226px;
  height: 44px;
}

/* Creting project Message end */
