@import "../../styles.css";

.appHome {
  width: 93.75%;
  margin-left: 50px;
  display: none;
}
.app-grid-container {
  width: 95%;
}

/* start: Global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end: Global */

.appCardDetails {
  font: normal normal 400 14px Segoe UI, sans-serif;
  color: #232324;
  padding-left: 5px;
  padding-top: 15px;
}

.appCardHeading {
  font: normal normal 700 16px Segoe UI, sans-serif;
  color: #232324;
  margin-top: -32px;
  margin-left: 40px;
}
.textareaStylesCard {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  font: normal normal 400 14px Segoe UI, sans-serif;
  line-height: 22px;
  border: none;
  resize: none;
  background-color: white;
  scroll-behavior: smooth;
  color: #818089;
}
.appDetails {
  font: normal normal 400 14px Segoe UI, sans-serif;
  color: #232324;
}
.girdFooter {
  background-color: #f6f6f9;
  height: 50px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}
.projectHeadings {
  font: normal normal 600 18px Segoe UI, sans-serif;
  margin-bottom: 10px;
}
.inputStyles {
  width: 349px;
  height: 32px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  font: normal normal 400 14px Segoe UI, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;
}
.createProjectsDropdown {
  width: 225px;
  height: 32px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  font: normal normal 400 14px Segoe UI, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;
  cursor: pointer;
}
.appHeader {
  margin-right: -36px;
  background-color: white;
  margin-top: -8px;
}
.appHeading {
  padding-top: 10px;
  margin-left: 50px;
  color: #818089;
  font: normal normal 400 14px Segoe UI, sans-serif;
}
.appLabel {
  font: normal normal 700 20px Segoe UI, sans-serif;
  color: #232324;
  margin-left: 42px;
}
.windowsIconBg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  gap: 10px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #f2f1fc;
  border-radius: 2px;
}
.applicationImg {
  width: 20px;
}
.desktopImg {
  width: 32px;
  height: 32px;
  background: #f2f1fc;
  border-radius: 2px;
}
.appTopAlign {
  margin-left: 50px;
  padding-top: 10px;
}
.createAppBtn {
  float: right;
  width: 146px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-right: 54px;
}
.createAppBtn:hover {
  cursor: pointer;
}
.appData {
  margin-right: -34px;
}
.appHead {
  margin-top: 25px;
  display: inline-block;
  margin-left: 50px;
  font: normal normal 700 16px Segoe UI, sans-serif;
  color: #232324;
}
.projectsDropdown {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  width: 225px;
  height: 32px;
  font: normal normal 400 14px Segoe UI, sans-serif;
  border: 1px solid gray;
  border-radius: 2px;
  color: #525156;
  padding-left: 10px;
  cursor: pointer;
}

/* Create Application Popup Start */

.create-app-modal {
  background-color: rgba(0, 0, 0, 0.8);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.create-modal-contents {
  height: 358px;
  width: 522px;
  background-color: white;
  padding: 15px;
  position: relative;
  border-radius: 2px;
}
.createAppHeading {
  font: normal normal 700 16px Segoe UI, sans-serif;
  color: #232324;
  padding-top: 5px;
  padding-bottom: 5px;
}
.hrStyle {
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}
.textareaStyles {
  margin-top: 10px;
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  font: normal normal 400 14px Segoe UI, sans-serif;
  color: #525156;
  resize: none;
  padding-left: 10px;
  border-radius: 2px;
}
.btnCreate {
  float: right;
  margin-left: 10px;
  width: 73px;
  height: 32px;
  font: normal normal 400 14px Segoe UI, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-top: -5px;
}

/* Create Application Popup End */
