<section class="appHome">
    <div>
        <p class="appHeading">Project / Applications</p>
        <div class="appTopAlign">
            <label class="appLabel">
                <div class="windowsIconBg">
                    <img class="applicationImg" [src] ="appImgPath"> 
                </div>
                Applications</label>
            <button class="createAppBtn" (click)="openModal()">Create Application</button>
        </div><br>
    </div>
    <div class="appData">
        <div class="appDataAlign">
            <label class="appHead">Applications</label>
            <select class="projectsDropdown">
                <option>Kraft Heinz Project</option>
                <option>TestXpress Project</option>
                <option selected>Whirlpool Project</option>
                <option>Kraft Heinz Project</option>
                <option>Web List Operations</option>
            </select>
        </div><br>
        <div class="app-grid-container">
            <div class="grid-item" >
                <div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer" />
                    <div class="dots">
                        <em class='fa-solid fa-ellipsis-vertical dotsDropdown'></em>
                        <div class="task-menu">
                            <p class="menuItems menuEdit">Edit</p>
                            <p class="menuItems menuDuplicate">Duplicate</p>
                            <p class="menuItems menuDelete">Delete</p>
                        </div>
                    </div>
                    <div class="existingData">
                        <label class="projectHeading">
                            <i style="font-size:23px; color: blue;" class="fa fa-desktop"></i>
                            &nbsp; TestXpress
                        </label>
                        <p class="projectDetails">Whirlpool's Application (Android) for QA to identify defects.</p>
                    </div>
                </div>

                <div class="girdFooter">
                    <div class="icon-bar">
                        <div class="projDetails">
                            <label class="projDetails">3 Releases &nbsp;&nbsp; 8 Test Plans</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item" >
                <div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer" />
                    <div class="dots">
                        <i class='fa-solid fa-ellipsis-vertical dotsDropdown'></i>
                        <div class="task-menu">
                            <p class="menuItems menuEdit">Edit</p>
                            <p class="menuItems menuDuplicate">Duplicate</p>
                            <p class="menuItems menuDelete">Delete</p>
                        </div>
                    </div>
                    <div class="existingData">
                        <label class="projectHeading">
                            <em style="font-size:24px; color: blue;" class="fa-brands fa-apple"></em>
                            &nbsp; Prodigio (iOS)
                        </label>
                        <p class="projectDetails">Whirlpool's Application (iOS) for QA to identify defects.</p>
                    </div>
                </div>

                <div class="girdFooter">
                    <div class="icon-bar">
                        <div class="projDetails">
                            <label class="projDetails">3 Releases &nbsp;&nbsp; 4 Test Plans</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item" >
                <div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer" />
                    <div class="dots">
                        <i class='fa-solid fa-ellipsis-vertical dotsDropdown'></i>
                        <div class="task-menu">
                            <p class="menuItems menuEdit">Edit</p>
                            <p class="menuItems menuDuplicate">Duplicate</p>
                            <p class="menuItems menuDelete">Delete</p>
                        </div>
                    </div>
                    <div class="existingData">
                        <label class="projectHeading">
                            <em style="font-size:23px; color: blue;" class="fa-solid fa-globe"></em>
                            &nbsp; WTAF
                        </label>
                        <p class="projectDetails">Whirlpool's Mobile Application for QA to identify defects.</p>
                    </div>
                </div>

                <div class="girdFooter">
                    <div class="icon-bar">
                        <div class="projDetails">
                            <label class="projDetails">17 Releases &nbsp;&nbsp; 11 Test Plans</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item" >
                <div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                        crossorigin="anonymous" referrerpolicy="no-referrer" />
                    <div class="dots">
                        <em class='fa-solid fa-ellipsis-vertical dotsDropdown'></em>
                        <div class="task-menu">
                            <p class="menuItems menuEdit">Edit</p>
                            <p class="menuItems menuDuplicate">Duplicate</p>
                            <p class="menuItems menuDelete">Delete</p>
                        </div>
                    </div>
                    <div class="existingData">
                        <label class="projectHeading">
                            <img [src] ="androidPath" style="width: 24px;">
                            &nbsp; Prodigio (Android)
                        </label>
                        <p class="projectDetails">Whirlpool's Application (Android) for QA to identify defects.</p>
                    </div>
                </div>

                <div class="girdFooter">
                    <div class="icon-bar">
                        <div class="projDetails">
                            <label class="projDetails">8 Releases &nbsp;&nbsp; 9 Test Plans</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Application Popup Start -->
        <div class="create-app-modal">
            <div class="modal-contents">
        
                <div class="close">
                    <label class="closeModel" (click)="closeModal()" for="close">&times;</label>
                </div>
                <form>
                        <label class="projectHeading"><b>Create new Application</b></label>
                        <hr class="hrStyle">
                        <div>
                            <label class="projectDetails">Application Name</label>
                            <input class="inputStyles" id="name" type="text" name="projectName" 
                            placeholder="SEP" required ngModel maxlength="25" minlength="1" />
                        </div>
                        <div>
                            <label class="projectDetails">Project Name</label><br>
                            <select class="createProjectsDropdown">
                                <option>Kraft Heinz Project</option>
                                <option>TestXpress Project</option>
                                <option selected>Whirlpool Project</option>
                                <option>Kraft Heinz Project</option>
                                <option>Web List Operations</option>
                            </select>
                        </div>
                        <div class="control">
                            <label class="projectDetails">Application Description</label><br />
                            <textarea type="text" name="projectDescription" class="textareaStyles" id="Description" 
                            placeholder="Whirlpool's Application (iOS) for QA to identify defects." ngModel maxlength="150" minlength="1"> </textarea>
                        </div>
                        <hr class="hrStyle">
                        <button class="btnCreate">Create</button>
                </form>
                <button class="btnClose" (click)="closeModal()">Cancel</button>
            </div>
        </div>
        <!-- Create Application Popup End -->

    </div>
</section>