<section class="appHome">
    <div class="appHeader">
        <p class="appHeading">Project / Applications</p>
        <div class="appTopAlign">
            <label class="appLabel">
                <div class="windowsIconBg">
                    <img class="applicationImg" [src] ="appsImgPath" alt="Application Image" /> 
                </div>
                Applications
            </label>
            <button class="createAppBtn" (click)="openModal()">Create Application</button>
        </div><br><br>
    </div>
    <div class="appData">
        <div class="appDataAlign">
            <label class="appHead">Applications</label>
            <select class="projectsDropdown">
                <option *ngFor="let teProjectsName of projectIdName">
                    {{teProjectsName.projectname}}
                </option>
            </select>
        </div><br>
        <div class="app-grid-container">
            <div *ngFor="let teAppData of appUiData">
                <div class="grid-item" >
                    <div>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                            crossorigin="anonymous" referrerpolicy="no-referrer" />
                        <div class="app-dots">
                            <img class="appMoreImg" [src] ="moreImgPath" alt="more Image" (click)="openAppTaskMenu(teAppData.appid)" />
                            <div class="app-task-menu" *ngIf="teAppData.appid == appTaskMenuId || appTaskMenuFlag">
                                <p class="menuItems menuEdit">Edit</p>
                                <p class="menuItems menuDuplicate">Duplicate</p>
                                <p class="menuItems menuDelete">Delete</p>
                            </div>
                        </div>
                        <div class="existingData">
                            <img class="desktopImg" [src] ="desktopImgPath" alt="desktop Image" />
                            <p class="appCardHeading">
                                &nbsp; {{teAppData.appName}}
                            </p>
                            <textarea type="text" name="projectDescription" class="textareaStylesCard"
                            ngModel="{{teAppData.appDescription}}" disabled> </textarea>
                        </div>
                    </div>

                    <div class="girdFooter">
                            <div class="appCardDetails">
                                <label class="appCardDetails">3 Releases &nbsp;&nbsp; 8 Test Plans</label>
                            </div>
                    </div>
                </div>

            </div>
            
        </div>

        <!-- Create Application Popup Start -->
        <div class="create-app-modal">
            <div class="create-modal-contents">
        
                <div class="close">
                    <img class="closeModel" [src] ="closeImgPath" alt="close Image"  (click)="closeModal()" />
                </div>
                <form #createNewApplicationForm="ngForm" (submit)="createNewApplication(createNewApplicationForm)">
                        <p class="createAppHeading">Create new Application</p>
                        <hr class="hrStyle">
                        <div>
                            <label class="appDetails">Application Name</label><br />
                            <input class="inputStyles" id="name" type="text" name="appName" 
                            placeholder="Enter Application Name" required ngModel maxlength="25" minlength="1" />
                        </div>
                        <div>
                            <label class="appDetails">Project Name</label><br>
                            <select class="createProjectsDropdown" (change)="selected($event)">
                                <option value="">Select Project</option>
                                <option *ngFor="let teProjectsName of projectIdName" value={{teProjectsName.projectname}}>
                                    {{teProjectsName.projectname}}
                                </option>
                            </select>
                        </div>
                        <div class="control">
                            <label class="appDetails">Application Description</label><br />
                            <textarea type="text" name="appDescription" class="textareaStyles" id="Description" 
                            placeholder="Enter Application Description" ngModel maxlength="150" minlength="1"> </textarea>
                        </div>
                        <hr class="hrStyle">
                        <button class="btnCreate" [disabled]="!createNewApplicationForm.valid">Create</button>
                </form>
                <button class="CreateProjBtnClose" (click)="closeModal()">Cancel</button>
            </div>
        </div>
        <!-- Create Application Popup End -->

    </div>
</section>