.appHome {
  display: block;
}
.app-grid-container {
  display: grid;
  gap: 24px 24px;
  grid-template-columns: 424px 424px 424px;
  margin-top: 16px;
  margin-left: 80px;
}
.app-grid-item{
  height: 137px;
}

/* start: Global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end: Global */
.app-card-data{
  width: 424px;
  height: 82px;
}
.appCardDetails {
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  padding-left: 10px;
  padding-top: 20px;
}

.appCardHeading {
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
  margin-top: -32px;
  margin-left: 50px;
}

.textareaStylesCard {
  margin-top: 15px;
  width: 366px;
  height: 22px;
  font: normal normal 400 14px Lato, sans-serif;
  line-height: 22px;
  border: none;
  resize: none;
  background-color: white;
  scroll-behavior: smooth;
  color: #818089;
  margin-left: 16px;
}

.appDetails {
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  margin-left: 24px;
  margin-top: 14px;
}
.appTypeDetails {
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  margin-left: 152px;
  margin-top: 5px;
}

.girdFooter {
  background-color: #f6f6f9;
  width: 424px;
  height: 54px;
  border: 1px solid #DDDDE6;
  margin-left: -1px;
}

.projectHeadings {
  font: normal normal 600 18px Lato, sans-serif;
  margin-bottom: 10px;
}

.inputStyles,
.nameInputStyles,
.editProjectsDropdown,
.duplicateProjectsDropdown {
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 15px;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;
  margin-left: 24px;
}
.createProjectsDropdown {
  width: 229px;
  height: 32px;
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 15px;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;
  margin-left: 24px;
}
.createApplicationDropdown{
  width: 229px;
  height: 32px;
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 15px;
  font: normal normal 400 14px Lato, sans-serif;
  padding-left: 10px;
  border-radius: 2px;
  color: #525156;
  margin-left: 15px;
}
.errorMessage{
  margin-top: -10px;
  padding-bottom: 10px;
}
.errorAppMessage{
  /* margin-top: -30px; */
  padding-bottom: 10px;
  color: #F5222D;
  font: normal normal 400 14px Lato, sans-serif;
  margin-bottom: 5px;
  margin-left: 270px;
}

.createProjectsDropdown,
.createApplicationDropdown {
  cursor: pointer;
}

.appHeader {
  width: 1384px;
  height: 116px;
  background-color: #FFFFFF;
  margin-top: -8px;
  margin-left: 48px;
}
.appTopData{
  padding: 16px 0px 16px 32px;
}

.appHeading {
  color: #818089;
  font: normal normal 400 14px Lato, sans-serif;
}

.appImgLabel {
  font: normal normal 700 20px Lato, sans-serif;
  color: #232324;
  margin-left: 42px;
  padding-top: 5px;
  width: 111px;
  height: 28px;
}

.windowsIconBg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  gap: 10px;
  width: 32px;
  height: 32px;
  background: #F2F1Fc;
  border-radius: 2px;
  float: left;
}

.applicationImg {
  width: 20px;
}

.desktopImg {
  width: 32px;
  height: 32px;
  background: #F2F1Fc;
  border-radius: 2px;
  margin-top: 12px;
  margin-left: 16px;
}

.appTopAlign {
  margin-top: 10px;
}

.createAppBtn {
  float: right;
  width: 146px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  margin-right: 32px;
  margin-top: -30px;
}

.createAppBtn:hover {
  cursor: pointer;
}

.appDataAlign{
  width: 1384px;
  margin-left: 48px;
}
.appHead {
  margin-top: 36px;
  display: inline-block;
  margin-left: 32px;
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
  width: 89px;
  height: 24px;
}

.projectsDropdown {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
  width: 225px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  border: 1px solid gray;
  border-radius: 2px;
  color: #525156;
  box-sizing: border-box;
  padding-left: 10px;
  cursor: pointer;
}

/* Create Application Popup Start */

.create-app-modal {
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.create-modal-contents {
  width: 522px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}

.createAppHeading {
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
}

.hrStyle {
  margin-bottom: 10px;
}

.textareaStyles {
  margin-top: 10px;
  width: 474px;
  height: 32px;
  border: 1px solid gray;
  font: normal normal 400 14px Lato, sans-serif;
  color: #525156;
  padding-left: 10px;
  padding-top: 7px;
  border-radius: 2px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.btnCreate {
  float: right;
  margin-left: 10px;
  width: 73px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3e38d5;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-right: 24px;
  margin-bottom: 10px;
}

/* Create Application Popup End */

/* Edit, Duplicate and Delete popup start */

.edit-app-modal,
.duplicate-app-modal,
.delete-app-modal {
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.edit-modal-contents,
.duplicate-modal-contents {
  width: 522px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}

.editAppHeading,
.duplicateAppHeading,
.deleteAppHeading {
  font: normal normal 700 16px Lato, sans-serif;
  color: #232324;

  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
}
.deleteAppHeading{
  padding-top: 4px;
}
.hrStyleEdd {
  margin-bottom: 10px;
}

.popupAppDetails {
  font: normal normal 400 14px Lato, sans-serif;
  color: #232324;
  margin-left: 24px;
  margin-top: 14px;
}

.btnEdit,
.btnDuplicate {
  float: right;
  margin-left: 10px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3E38D5;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.btnEdit {
  width: 56px;
}

.btnDuplicate {
  width: 91px;
}

.btnDelete {
  width: 73px;
}

.deleteAppHeadingAlign{
  margin-top: 24px;
  margin-left: 24px;
}
/* Edit, Duplicate and Delete popup end */

/* Cancel creating application start */
.cancelModal{
  background-color: rgba(95, 95, 95, 0.354);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.cancelapp-modal-contents{
  width: 435px;
  height: 180px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}
.cancelApplicationHeading{
  font: normal normal 700 15px Lato, sans-serif;
  color: #232324;
  padding-top: 4px;
}
.cancelApplicationHeadingAlign{
  margin-top: 24px;
  margin-left: 24px;
}
.btnContinue {
  float: right;
  margin-left: 10px;
  width:89px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #3E38D5;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  align-items: center;
  margin-right: 24px;
}
.btnExit{
  float: right;
  width: 56px;
  height: 32px;
  font: normal normal 400 14px Lato, sans-serif;
  background-color: #ffffff;
  color: #525156;
  border: 1px solid #cbcad6;
  border-radius: 2px;
  padding: 5px 16px;
}
.exclamationIcon {
  width: 24px;
}
/* Cancel creting application end */