h1,
h3 {
  color: white;
  font-weight: 400;
}

header {
  display: flex;
  padding: 0 15px;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 30px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 6px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: underline;
}

.create {
  background-image: url("http://richardmiddleton.me/modal-hero.jpg");
  background-size: cover;
  height: 420px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}









